@import "all";
@import "palette";

$padding-container: 1rem;


.global-wrapper {
    display: flex;
    flex-direction: column;
}


section {
  width: 100%;
}

.wrapper__section-one {
  width: 100%;
  height: 100vh;

  padding: $padding-container;

  .container {
    @include fullScreenPercentage();
    position: relative;

    display: flex;
    justify-content: center;
    background-image: url(/assets/images/banner.jpg);
    background-size: cover;
  }

  .desktop__nav-container {
    width: 100%;

    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    right: 0;

    .list {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .list li a {
      color: black;
      font-size: 1.1rem;
    }

    .logo a {
      color: black;
      font-size: 1.5rem;
    }
  }

  .content_container {
    align-self: center;

    div {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    span {
      color: $primary-color;
      font-size: 5rem;
      font-weight: 600;
      letter-spacing: .5rem;
    }

    p {
      font-size: 1.8rem;
      font-weight: 300;
    }

    .green-bar {
      background-color: $primary-color;
      width: 3rem;
    }
  }
}

.wrapper__section-two {
  width: 100%;
  background: $primary-color-light;
  padding: 8rem 0;

  .container {
    @include fullScreenPercentage();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-section {
    margin-bottom: 2rem;

    p {
      font-size: 1.8rem;
      font-weight: 400;
      color: $primary-color;
    }

    .green-bar {
      background-color: $primary-color;
      width: 3.5rem;
    }
  }

  .title-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .cards_container {
    display: flex;
    gap: 3rem;
  }
}

.wrapper__section-three {
  width: 100%;
  height: 100vh;

  .container {
    @include fullScreenPercentage();
    display: flex;
  }

  .image__about-container {
    width: 50%;
    background-image: url(/assets/images/about.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
  }

  .info_container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 2.5rem;
      font-weight: 400;
      color: $primary-color;
    }
  }

  .about-text {
    margin-top: 2rem;
  }
  .about-text > p {
    word-wrap: wrap;
    font-size: 1.2rem;
    color: $primary-color-lightest;
  }
}

.wrapper__section-four {
  display: flex;
  flex-direction: column;
  
  .subscribe__container {
    padding: 8rem 0;
    flex: 1;
    background: $primary-color-light;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subscribe-title {
    text-align: center;
    margin-bottom: 2rem;
    & :nth-child(1) {
      font-size: 2.2rem;
      color: $primary-color;
    }
    & :nth-child(2) {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  .form-container {
      margin-top: 2rem;
  }

  .form-container form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 100%;
        height: 3.5rem;
        border: none;
        border: 1px solid $primary-color;
        background: white;
        font-size: 1.2rem;
        color: $primary-color-lightest;
        padding: 0 1rem;
        margin-bottom: 1rem;
      }

      button {
        width: 55%;
        margin-top: 2.5rem;
        font-size: 1rem;
      }
  }

  .footer-wrapper {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
  }

  .footer-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-container ul {
    display: flex;
  }

  .social__network-list {
    gap: 1rem;
  }
  
  .social__network-list li {
    width: 2rem;
    height: 2rem;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

   a {
     color: white;
   }
  }

  .nav-wrapper .list{
    color: $primary-color
  }

  .footer__nav-list  .list {
    gap: 2rem;
    
    li {
      font-size: 1.2rem;
      
    }

    li a {
      color: black;
    }
  }
}


.btn-subscribe {
  padding: .5rem 1.5rem;
  border: .18rem solid black;
  background-color: transparent;
}


@include responsive(phone) {

  .wrapper__section-one {
    .desktop__nav-container {
      display: none;
    }
  }
  .cards_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .wrapper__section-two {
    padding: 1rem 0;
  }

  .wrapper__section-three {
    height: auto;
    main {
      display: flex;
      flex-direction: column;
    }

    main .image__about-container {
      width: 100%;
      height: 24rem;
    }

    main .info_container {
      width: 100%;
      padding: 2rem 3rem;
    }
  }



  .wrapper__section-four {
    .subscribe__container {
      padding: 5rem 2rem;
    }

    footer {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}