<section class="wrapper__section-one">
    <div class="container section-one">
        <header class="desktop__nav-container">
            <div class="logo">
                <span>
                    <a href="#">NATURE</a>
                </span>
            </div>
            <nav class="nav-list">
                <ul class="list">
                    <li class="list-item"><a href="#">ABOUT</a></li>
                    <li class="list-item"><a href="#">ARTICLES</a></li>
                    <li class="list-item"><a href="#"><button class="btn-subcribe">SUBSCRIBE</button></a></li>
                </ul>
            </nav>
        </header>

        <div class="content_container">
            <div>
                <span>NATURE</span>
                <p class="description">HOLISTIC HEALTH</p>
            </div>
        </div>
    </div>
</section>